.well .start-well-title {
  margin-top:0;
}

table.past-flow-session-table th {
  margin-right:1em;
  border-bottom: 1px solid black;
}

table.past-flow-session-table td {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table th {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table {
  margin-bottom: 2ex;
}

/* {{{ flow page */

.flow-well {
  margin-top: 2ex;
}

.flow-nav {
  float:left;
}

.flow-session-expiration-panel {
  float:right;
  white-space: nowrap;
  margin-right: 1em;
}

.flow-session-expiration-panel .form-control {
  width: auto;
  display: inline;
}

code {
  /* Bootstrap: Hot pink for code? Really? */
  color: #333;
}

.relate-flow-page-index {
  margin-top: 6px;
  padding-left: 20px;
  float: left;
}

.relate-flow-page-number {
  margin-right:3px;
  min-width: 2em;
  float: left;
  text-align: center;
}

.relate-flow-page-number.relate-current {
  background-color: #e8e8ff;
}

/* }}} */

/* {{{ histograms */

div.histogram > table {
  border: 0px;
}

td.histogram-title {
  vertical-align: top;
  padding-right: 1em;
}

td.histogram-bar-cell {
  min-width:500px;
}

td.histogram-bar-cell div.progress {
  margin-bottom:5px;
}

.stats-percentage {
  visibility:hidden;
}
div.progress:hover  span.stats-percentage{
  visibility:visible;
}

/* }}} */

/* {{{ calendar */

.fc-other-month {
  background: #eee;
}

.current-access-rule {
  background: #dcdcdc;
}

.result-figure-list dd {
  margin-top: 1ex;
  margin-left: 3em;
  margin-bottom: 1ex;
}

.calendar-descriptions dd {
  margin-left: 3em;
  margin-bottom: 1ex;
}

.relate-calendar-event:target .panel-heading {
  background-color: #ddf;
}

.relate-calendar-event:target .panel-body {
  background-color: #f8f8f8;
}

/* }}} */

.sandbox-page-editor {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  padding-left:50px;
  padding-right:50px;
  bottom: 0;
  overflow-y: auto;
}
.sandbox-page-preview {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

.grading-page-student-work {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  bottom: 0;
  padding-left:50px;
  padding-right:50px;
  overflow-y: auto;
}

.grading-page-grade-entry {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

/* {{{ codemirror */

.sandbox-page-editor .CodeMirror {
  height:500px;
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
}

.CodeMirror.cm-s-relate-readonly {
  background-color: #e8e8e8;
}

/* }}} */

.relate-btn-xs-vert-spaced {
  margin-bottom: 3px;
}

/* vim: set foldmethod=marker: */



* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -0px; /* the bottom margin is the negative value of the footer's height */
}
 .push {
    height: 0px; /* .push must be the same height as .footer */
}



.container, .panel {
    margin:20px;
}

textarea {
    background-color: #fffdf5;
    width: 100%;
    border:0px

}

input[type="text"] {
    width: 300px;
}

/*for textfield font*/
  .icon-ph {
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    position:absolute;
    left:3px;
    top:3px;
    bottom:3px;
    z-index:3;
  }
.custom-text {
    padding:6px 6px 6px 30px ;
}
.input-container {
  position:relative;
}


.pop-div .popover-content {
height: 50px;
overflow-y: scroll;
}


.well .start-well-title {
  margin-top:0;
}

table.past-flow-session-table th {
  margin-right:1em;
  border-bottom: 1px solid black;
}

table.past-flow-session-table td {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table th {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table {
  margin-bottom: 2ex;
}

/* {{{ flow page */

.flow-well {
  margin-top: 2ex;
}

.flow-nav {
  float:left;
}

.flow-session-expiration-panel {
  float:right;
  white-space: nowrap;
  margin-right: 1em;
}

.flow-session-expiration-panel .form-control {
  width: auto;
  display: inline;
}

code {
  /* Bootstrap: Hot pink for code? Really? */
  color: #333;
}

.relate-flow-page-index {
  margin-top: 6px;
  padding-left: 20px;
  float: left;
}

.relate-flow-page-number {
  margin-right:3px;
  min-width: 2em;
  float: left;
  text-align: center;
}

.relate-flow-page-number.relate-current {
  background-color: #e8e8ff;
}

/* }}} */

/* {{{ histograms */

div.histogram > table {
  border: 0px;
}

td.histogram-title {
  vertical-align: top;
  padding-right: 1em;
}

td.histogram-bar-cell {
  min-width:500px;
}

td.histogram-bar-cell div.progress {
  margin-bottom:5px;
}

.stats-percentage {
  visibility:hidden;
}
div.progress:hover  span.stats-percentage{
  visibility:visible;
}

/* }}} */

/* {{{ calendar */

.fc-other-month {
  background: #eee;
}

.current-access-rule {
  background: #dcdcdc;
}

.result-figure-list dd {
  margin-top: 1ex;
  margin-left: 3em;
  margin-bottom: 1ex;
}

.calendar-descriptions dd {
  margin-left: 3em;
  margin-bottom: 1ex;
}

.relate-calendar-event:target .panel-heading {
  background-color: #ddf;
}

.relate-calendar-event:target .panel-body {
  background-color: #f8f8f8;
}

/* }}} */

.sandbox-page-editor {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  padding-left:50px;
  padding-right:50px;
  bottom: 0;
  overflow-y: auto;
}
.sandbox-page-preview {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

.grading-page-student-work {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  bottom: 0;
  padding-left:50px;
  padding-right:50px;
  overflow-y: auto;
}

.grading-page-grade-entry {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

/* {{{ codemirror */

.sandbox-page-editor .CodeMirror {
  height:500px;
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
}

.CodeMirror.cm-s-relate-readonly {
  background-color: #e8e8e8;
}

/* }}} */

.relate-btn-xs-vert-spaced {
  margin-bottom: 3px;
}


.tnar .narbar .container{height:28px;}



.navbar-primary .navbar { background:#9f58b5; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #501762;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #8e49a3;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }
/* vim: set foldmethod=marker: */

/*.navbar-default{*/
      /*background-color: #272C33;*/
/*}*/


/*.panel, .navbar, .navbar-default, .navbar-collapse,  .navbar-form, .container{*/
        /*background-color: #272C33;*/

/*}*/


/*.navbar-collapse, .navbar-header, .navbar-brand{*/
        /*background-color: #272C33;*/
/*}*/