{% extends 'task/Base/base.html' %}


{% block content %}

{#    <div class="page-container page-container-responsive page-container-inbox row-space-4 row-space-top-4">#}
{#        <div class="row">#}
{#            <div id="inbox" class="threads col-sm-12">#}
{#                <div class="panel">#}
{#                    <div class="panel-header">#}
{#                        <div class="row">#}
{#                            <form accept-charset="UTF-8" action="/inbox" class="col-sm-12 col-md-3"#}
{#                                  id="inbox_filter_form" method="get">#}
{#                                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden"#}
{#                                                                                      value="&#x2713;"/></div>#}
{#                                <div class="select select-large select-block">#}
{#                                    <select id="filter" name="filter"#}
{#                                            onchange='jQuery(&#x27;form#inbox_filter_form&#x27;).submit();'>#}
{##}
{#                                        <option value="all" selected="selected">All Messages (0)</option>#}
{#                                        <option value="starred">Starred (0)</option>#}
{#                                        <option value="unread">Unread (0)</option>#}
{#                                        <option value="reservations">Reservations (0)</option>#}
{#                                        <option value="late_or_no_response">Late or No Response (0)</option>#}
{#                                        <option value="pending_requests">Pending Requests (0)</option>#}
{#                                        <option value="hidden">Archived (0)</option>#}
{##}
{#                                    </select>#}
{#                                </div>#}
{#                            </form>#}
{#                            <div class="hide-sm col-md-9">#}
{#                                <div class="pull-right">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="panel-body">#}
{#                        <p>#}
{#                            When you message hosts or send reservation requests, you’ll see their responses here.#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}










{% endblock %}