{% extends "task/Base/base.html" %}

{% block content %}

{#    #}
{#  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">#}
{#  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>#}
{#  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>#}
{#  <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">#}
{#  <script>#}
{#  $(function() {#}
{#    $( "#datepicker" ).datepicker();#}
{#  });#}
{#  </script>#}
{#  <p>Date: <input type="text" id="datepicker"></p>#}
{# #}


    <div id="event-1507" class="panel panel-default relate-calendar-event">
        <div class="panel-heading">
            <b>Create Article</b>
        </div>

        <div class="body">

            <form action="/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>

                <input role="button" class="btn btn-primary" type="submit" name="submit" value="Create Article">
            </form>
        </div>
    </div>
{% endblock %}