{% extends 'task/base.html' %}
{% block content %}

    <style>
       a:hover {
    text-decoration: none;
}
    </style>
{#    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    <a id="about"></a>
    <div class="panel panel-default relate-calendar-event   ">
        <div class="panel-heading">
            <h1>Mark Twain, Joan of Arc</h1>
        </div>

        <div class="panel-body">
            <div class="col-md-0.5"></div>
            <div class="col-md-11">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th><h4>Questions</h4></th>
                        <th><h4>Discussion</h4></th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for article in articles %}
                         <tr>
                            <td><a><strong>{{article.title}}</strong></a></td>
                            <td>
                                <button type="button" class="btn btn-lg btn-danger" data-toggle="popover"
            title="{{article.title}}" data-content="
        {{ article.body }} ">
        my points</button>
                               <td><a href="/getarticle/{{ article.pk }}" role="button" class="btn btn-success">view full text &raquo;</a></td></td>
                               <td><a href="/ArticleUpdate/{{ article.pk }}" role="button" class="btn btn-success">modify it &raquo;</a></td></td>
                         </tr>
                    {% endfor %}



                    </tbody>
                </table>
            </div>
            <div class="col-md-0.5"></div>
        </div>
    </div>

    <a id="citation_books"></a>
    <div class="panel panel-default relate-calendar-event">
        <div class="panel-heading">
            <h1>Citation Books</h1>
        </div>
        <div class="panel-body">


            <div class="row">
                <p>

                <div markdown="1" class="col-md-3"><img alt="Coding the matrix" class="img-circle"
                                                        src="/static/his101/image/joantwaincover1.jpg" width="300"
                                                        height=300">
                </div>
                <div markdown="1" class="col-md-9">
                    <p><strong>Published: </strong>1896</p>

                    <p><strong>Author: </strong>Mark Twain</p>

                    <p><strong>Publisher: </strong>Harper & Brothers</p>

                    <p><strong>Genre: </strong>Historical fiction</p>

                    <strong><a href="http://www.maidofheaven.com/joanofarc_twain_index.asp">Personal Recollections of
                        Joan of Arc</a></strong></p>
                </div>
            </div>


            <div class="row">
                <p>

                <div markdown="1" class="col-md-3"><img alt="Coding the matrix" class="img-circle"
                                                        src="/static/his101/image/saintjoanarc00pylegoog_0002.jpg"
                                                        width="300" height=300">
                </div>
                <div markdown="1" class="col-md-9">
                    <hr>
                    <p>

                    </p>

                    <strong><a href="https://archive.org/details/saintjoanarc00pylegoog">Saint Joan Of
                        Arc</a></strong></p>
                </div>
            </div>
        </div>
    </div>

    <script>
    $('[data-toggle="popover"]').popover({placement: 'bottom'});
        //hide popover when click outside
        $('body').on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                if ($(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    </script>
{% endblock %}