{% extends 'base.html' %}
{% block content %}



    <ul>
        <li><a href="/all">Articles</a></li>
        <li><a href="/create"> create article</a></li>

    </ul>
    <h1>Articles</h1>
    {% for article in object_list %}
        <li><h2><a href="../getarticle/{{ article.id }}">{{ article.title }}</a></h2></li>
    {% endfor %}


{#<h3>Search</h3>#}
{#{% csrf_token %}#}
{#    <input type="text" id="search" name="search"/>#}
{#    <ul id="search-results">#}
{#        EEEEE#}
{##}
{#    </ul>#}
{#<button id = "search1">Search</button>#}
{##}
{##}
{#<p>If you click on me, I will disappear.</p>#}
{#<p>Click me away!</p>#}
{#<p>Click me too!</p>#}




{% endblock %}