{% extends 'base.html' %}
{% block content %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <li><a href="/delete">Delete Articles</a></li>
            <li><a href="/create">Create an Article</a></li>
        </div>

        <div class="panel-body">
            <em><h2>Articles</h2></em>
            {% for article in object_list %}
                <h4><a href="../getarticle/{{ article.id }}">{{ article.title }}</a></h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}