<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .bg-warning{
            color: #5063ce;
        }
        a > text{
            text-underline-position:left ;
        }

        p {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
    </style>

</head>
<body>


{% block content %}

{% endblock %}

</body>
</html>