

<div class="row">
            <div class="col-md-1">

                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="XiaominXu"
                           data-related="xxu46"
                           data-hashtags="JoanOfArc">Tweet</a>



            </div>
            <div class="col-md-1">
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"
                             data-layout="button_count">Share
                        </div>

            </div>
            <div class="col-md-1"> <a data-pin-do="buttonFollow" href="http://www.pinterest.com/pinterest/">Pinterest</a>
                    </div>

            <div class="col-md-9"></div>
        </div>
    </div>



    <a id="team"></a>
    <a id="team1"></a>
    <a id="team2"></a>
    <a id="team3"></a>
    <a id="team4"></a>
    <a id="team5"></a>
    <a id="team6"></a>




<div class="navbar navbar-default" role="navigation">
    <div class="container">
            <center>
                            <h5 class="text-muted center-block" >© 2015 SuperQQ Team</h5>
            </center>

        <!--/.nav-collapse -->
    </div>
</div>
</body>



<div id="fb-root"></div>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');</script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</html>
