<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="/static/task/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/task/index/css/custom.css" rel="stylesheet">
    <script src="/static/task/index/js/respond.js"></script>
</head>

<body>


    <div class="container">
<!-- row 1 -->
<header class="row">

{#    <img src="/static/task/images/logo.png" />#}

<div class="col-lg-6 col-sm-5 ">
<a href="#"><img src="/static/task/index/images/logo.png" alt="Purse for all ocassions."></a>
</div>

<div class="col-lg-6 col-sm-7" >
<img src="/static/task/index/images/purses.jpg" alt="">
</div>
</header>

<div class="navbar navbar-default row">
    <ul class="nav navbar-nav">
        <li class="active"><a href="">home</a></li>
        <li><a href="#####">Login</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">Contact</a></li>

    </ul>
</div>



<div class="row">
<!-- row 2 -->
   <h1> We love Books, do you?</h1>

 <p>We love amazing books, buying the book that you like is not easy, find your favorite books in our website

 </p>
 </div>

<div id="the-slider" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
    <li data-target="#the-slider" data-slide-to="0" class="active"></li>
    <li data-target="#the-slider" data-slide-to="1"></li>
    <li data-target="#the-slider" data-slide-to="2"></li>
</ol>


<div class="carousel-inner">
<div class="item active">

<img src= "/static/task/index/images/slide-1.jpg" class="img-responsive" alt="">

</div> <!--item 1-->


<div class="item">

<img src="/static/task/index/images/slide-2.jpg" class="img-responsive" alt="">

</div> <!--item 2-->



<div class="item">

<img src="/static/task/index/images/slide-3.jpg" class="img-responsive" alt="">

</div> <!--item 3-->


</div><!--carousel-inner-->


<!--controls-->

<a class="left carousel-control" href="#the-slider" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>


<a class="right carousel-control" href="#the-slider" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>



</div><!--the-slider-->


 <div class="content row">
<!-- row 3 -->

<div class="col-md-3 col-xs-6">
    <p><img src="/static/task/index/images/purse1.jpg" alt=""></p>
    <h4> Wiley CPAexcel Exam Review 2015 Study Guide (January): Regulation (Wiley Cpa Exam Review) </h4>
    <p>Wiley CPAexcel Exam Review is the world's most trusted study guide for the Certified Public Accountant's exam – complete, comprehensive, and updated to align with the latest exam content. </p>
    <p><a href="#">Read more >></a></p>
</div>

<div class="col-md-3 col-xs-6">
    <p><img src="/static/task/index/images/purse2.jpg" alt=""></p>
    <h4> Pokemon: Kalos Region Handbook </h4>
    <p>Nothing in its description said anything about the fact that this is ONLY a Pokedex, and not a great Pokedex at that. Doesn't even tell what level Pokemon evolve, or how to make them evolve. I was hoping that this was a guidebook, or at least had tips, but it doesn't.</p>
    <p><a href="#">Read more >></a></p>
</div>
<div class="col-md-3 col-xs-6">
    <p><img src="/static/task/index/images/purse3.jpg" alt=""></p>
     <h4> Wiley CPAexcel Exam Review 2015 Focus Notes: Financial Accounting and Reporting </h4>
    <p>Updated annually with the latest AICPA content guidelines, Wiley CPAexcel Exam Review 2015 Focus Notes provides a review of all the basic skills and concepts tested on the CPA exam and teaches important strategies to take the exam faster and more accurately. </p>
    <p><a href="#">Read more >></a></p>
</div>
   <div class="col-md-3 col-xs-6">
    <p><img src="/static/task/index/images/purse4.jpg" alt=""></p>
   <h4> Revival: A Novel Hardcover – Day to Day </h4>
    <p>The dustjacket promises King's "most terrifying conclusion Stephen King has ever written," and that's a bold claim to make - especially when stacked up against "Pet Sematery" or "Salem's Lot." I'm not sure I would call the conclusion 'terrifying,' but I would absolutely call it dreadful - with a capital D.</p>
    <p><a href="#">Read more >></a></p>
</div>
</div>


<footer class="row">
<!-- row 4 -->
    <p>© 2014 Xiaomin Xu</p>

</footer>
</div><!--container-->
<!-- javascript -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/task/index/js/bootstrap.min.js"></script>
</body>
</html>
