{% extends 'base.html' %}
{% block content %}



    <a id="about"></a>
    <h1>Numerical Methods (CS 357) Spring 2015</h1>
<table class="table table-condensed">
<thead>
<tr>
<th>What</th>
<th>Where</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Time/place</strong></td>
<td>Tue/Thu 12:30pm-1:45pm (M) / 3:30pm-4:45pm (N) / <a href="https://courses.illinois.edu/schedule/2015/spring/CS/357">Catalog</a></td>
</tr>
<tr>
<td><strong>Class URL</strong></td>
<td><a href="https://bit.ly/cs357-s15">https://bit.ly/cs357-s15</a></td>
</tr>
<tr>
<td><strong>Class recordings</strong></td>
<td><a href="http://recordings.engineering.illinois.edu/ess/portal/section/2a76b177-3178-40a8-a9ec-a77b3ec7ddf2" target="_blank">Echo 360</a></td>
</tr>
<tr>
<td><strong>Web forum</strong></td>
<td><a href="https://piazza.com/class/i4rq2zbmupa71b" role="button" target="_blank" class="btn btn-default">Discuss &raquo;</a> &middot; <a href="http://goo.gl/forms/6WEZSpRh9N">Suggestions (for Andreas)</a></td>
</tr>
<tr>
<td><strong>Material</strong></td>
<td><a href="http://andreask.cs.illinois.edu/cs357-s15/public/notes" role="button" target="_blank" class="btn btn-default">Notes &raquo;</a> <a href="http://andreask.cs.illinois.edu/cs357-s15/public/demos" role="button" target="_blank" class="btn btn-default">Demos &raquo;</a> <a href="http://andreask.cs.illinois.edu/cs357-s15/public/worksheets" role="button" target="_blank" class="btn btn-default">Worksheets &raquo;</a> <a href="http://andreask.cs.illinois.edu/cs357-s15/public/class-scribbles" role="button" target="_blank" class="btn btn-default">Class scribbles &raquo;</a></td>
</tr>
<tr>
<td><strong>Calendar</strong></td>
<td><a href="/course/cs357-s15/calendar/" role="button" class="btn btn-default">View &raquo;</a></td>
</tr>
</tbody>
</table>



  <a id="material"></a>
    <h2>Textbook</h2>
<hr>
<div class="row">
<p><div markdown="1" class="col-md-2"><img alt="Coding the matrix" src="/course/cs357-s15/media/3185a224879680efcbae682bc398edb14476da6b/images/cover-klein.png"></div>
<div markdown="1" class="col-md-10">
<strong><a href="http://codingthematrix.com/">Coding the matrix</a></strong></p>
<p>Philip N Klein, $31 Paperback, Newtonian Press, 2013</p>
</div>
</div>

{% endblock %}