{% extends 'task/Base/base.html' %}
{% block content %}

    <style>
        a:hover {
            text-decoration: none;
        }
    </style>


       {% if success %}
                <div class="alert alert-success" role="alert">

                    {{ success }}

                </div>
            {% endif %}


    <div class="panel panel-default" markdown="block">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a data-toggle="collapse" href="#starter-code">
                    <b>Create Message</b>

                    <span style="font-size:x-small">(click to view)</span>

                </a>
            </h4>
        </div>
        <div id="starter-code" class="panel-collapse collapse">
            <div class="panel-body">
                <form action="/message/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                    <input role="button" class="btn btn-primary" type="submit" name="submit" value="Send">
                </form>
            </div>
        </div>
    </div>





    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <a id="about"></a>
    <div class="panel panel-default relate-calendar-event   ">
        <div class="panel-heading">
            <h1>This is your message, {{ full_name }}</h1>
        </div>

        <div class="panel-body">
            <div class="col-md-0.5"></div>
            <div class="col-md-11">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th><a href="/message/" role="button" class="btn btn-success">Refresh</a>
                        </th>
                        <th><h4>From</h4></th>
                        <th><h4>subject</h4></th>
                        <th><h4>body</h4></th>
                        <th><h4>time</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in my_message %}
                        <tr>
                            <td>
                                <strong><a role="button" class="btn btn-danger" href="/message?type=delete&id={{ message.pk }}">Delete</a></strong>

                            </td>
                            <td><a><strong>{{ message.username }}</strong></a></td>
                            <td><a><strong>{{ message.subject }}</strong></a></td>
                            <td><a><strong>{{ message.body }}</strong></a></td>
                            <td><a><strong>{{ message.time }}</strong></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-0.5"></div>
        </div>
    </div>

    <script>
        $('[data-toggle="popover"]').popover({placement: 'bottom'});
        //hide popover when click outside
        $('body').on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                if ($(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    </script>
{% endblock %}