<!-- Fixed navbar -->
<div class=".navbar-xs .navbar-primary .navbar .navbar-brand" role="navigation">
    <div class="container">
       <div class="row">

        <div class="col-md-12">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                SuperQQ
                2015

            </a>
        </div>


            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

    {#                <li><a href="/search">CS 499 Project</a></li>#}
                    <li><a href="/video">Demo Project</a></li>

                    <li><a href="/team">Contact Us</a></li>
                    <li><a href="/accounts/register">Register</a></li>
{#                    <li><a href="/accounts/login">Login</a></li>#}

                </ul>
              <div class="navbar navbar-right">

         {% if full_name %}
                    <a role="button" class="btn btn-default" href="/profile">{{ full_name }}</a>

                    <a role="button" class="btn btn-default" href="../accounts/logout" >logout</a>
                    {% else %}
                      <a role="button" class="btn btn-default" href="../accounts/login">Click Here to login</a>
                    {% endif %}
        <!--/.nav-collapse -->
            </div>

            </div>
            
            

        </div>

       



       
</div>
    </div>
</div>


