{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<a id="team"></a>
<hr>
<div class="row">
    <div markdown="1" class="col-md-5"><img alt="Arun Lakshmanan"
                                            src="/static/images/team/Xiaomin.jpg" class="img-circle" alt="Cinque Terre" width="400" height="300">
    </div>

    <div markdown="1" class="col-md-7"></p>
        <p><strong>Name: </strong>Xiaomin Xu</p>
        <p><strong>Role: </strong>Software Engineer</p>
        <p><strong>Email:</strong> xxu46@illinois.edu</p>
        <p><strong>Phone:</strong> (434) 203-7334</p>
        <p><strong>Introduction:</strong> </p>
    </div>
</div>

<hr>


{% endblock %}
