{% extends 'base.html' %}

{% block content %}


  <style>
      a:hover {
    text-decoration: none;
}
    </style>

<a id="team"></a>
<hr>
<div class="row">
    <div markdown="1" class="col-md-5"><img alt="Arun Lakshmanan"
                                            src="/static/images/team/Xiaomin.jpg" class="img-circle"  width="400" height="300">
    </div>
    <div markdown="1" class="col-md-7"></p>
        <p><strong>Name: </strong><a  >Xiaomin Xu</a></p>
        <p><strong>Role: </strong><a  >Software Developer Engineer</a></p>
        <p><strong>Email:</strong><a  > xxu46@illinois.edu</a></p>
        <p><strong>Phone:</strong> <a  >(434) 203-7334</a></p>



        <p><strong>Introduction:

        </strong>
            <a>
            Hi, my name is Xiaomin and I am from U of Illiois Urbana-Champaign.
            I currently senior student major in computer science. After graduation,
            I will go to Amazon EC2 to further develop my professional skills.
            My biggest interest is programming, especially about web system and infrastructure.
            I consume codes every day like eating. That's my biggest hobby.
            My goal is involving with a small and talent team to develop our own wonderful products
            for millions of users.
            </a>
        </p>
    </div>
</div>
<hr>
{% endblock %}
