{% extends 'base.html' %}






{% load highlight %}
{% block content %}
    <div id="event-1507" class="panel panel-default relate-calendar-event">
      <div class="panel-heading">
              <b>Search My Paper</b>

        </div>
        <div class="panel-body">



            <form method="get" action="."    class="navbar-form" role="search">


                    <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search" name="q" id="srch-term" size="100">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search">&nbsp;Search</i></button>
                        </div>
                    </div>



        {% if query %}
            <h3>Results</h3>
            {% for result in page.object_list %}
                <div>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>

                    <p>   {% highlight result.object.authors with query css_class "bg-warning" %}
                        <br>

                    {% highlight result.object.abstract with query css_class "bg-warning" %}<p>
                </div>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                    Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

    </form>
        </div>

    </div>

{% endblock %}