<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/logo.png">
    <!-- Bootstrap -->
    {% load staticfiles %}
    {% block import_files %}
    {% include 'task/Base/header.html' %}
    {% endblock %}
</head>
<body>
{% load static %}
<div class="wrapper">
{% include 'task/Base/nav.html' %}
{% block content %}
{% endblock %}
{% block foot%}
{% include 'task/Base/foot.html' %}
{% endblock %}