{% extends 'task/Base/base.html' %}
{% block content %}




 <div class="container">
        <!-- row 1 -->
        <header class="row">

            {#    <img src="/static/task/images/logo.png" />#}

            <div class="col-lg-6 col-sm-5 ">
                <a href="/all"><img src="/static/images/logo.png" alt="Purse for all ocassions."></a>
            </div>

            <div class="col-lg-6 col-sm-7">
                <img src="/static/images/purses.jpg" alt="">
            </div>
        </header>


        <div class="row">
            <!-- row 2 -->
            <h1>Introduction to Super Quick Query(superqq) Website</h1>

            <p>The website is the intelligent web system mainly for recommending search paper for professors.
                The data comes from Google Scholar and Arxiv.org and updated daily using scrapy framework.
                Currently, we focus on how to improve the search quality and match. I prefer using BM25.
                The project mainly functionalities will finish March 29th.
            </p>

        </div>

        <div id="the-slider" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#the-slider" data-slide-to="0" class="active"></li>
                <li data-target="#the-slider" data-slide-to="1"></li>
                <li data-target="#the-slider" data-slide-to="2"></li>
                <li data-target="#the-slider" data-slide-to="3"></li>
            </ol>

{#            <div class="row">#}
{#                <div class="col-md-6">#}

                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="/static/cs499/1.jpg" class="img-responsive" alt="" width="1200px" height="400px">

                        </div>
                        <!--item 1-->

{##}
{#                        <div class="item">#}
{##}
{#                            <img src="/static/cs499/s2.jpg" class="img-responsive" alt="" width="1200px" height="300px">#}
{##}
{#                        </div>#}
{#                        <!--item 2-->#}


                        <div class="item">

                            <img src="/static/cs499/3.jpg" class="img-responsive" alt="" width="1200px" height="350px">

                        </div>
                        <!--item 3-->

                        <div class="item">

                            <img src="/static/cs499/4.jpg" class="img-responsive" alt="" width="1200px" height="400px">

                        </div>
                        <!--item 4-->
                    </div>


{#                </div>#}
{#                <div class="col-md-6">#}
{#                     <div class="carousel-inner">#}
{#                        <div class="item active">#}
{##}
{#                            <img src="/static/slides/1.jpg" class="img-responsive" alt="" width="500px" height="100px">#}
{##}
{#                        </div>#}
{#                        <!--item 1-->#}
{##}
{##}
{#                        <div class="item">#}
{##}
{#                            <img src="/static/slides/2.png" class="img-responsive" alt="" width="500px" height="100px">#}
{##}
{#                        </div>#}
{#                        <!--item 2-->#}
{##}
{##}
{#                        <div class="item">#}
{##}
{#                            <img src="/static/slides/3.jpg" class="img-responsive" alt="" width="500px" height="100px">#}
{##}
{#                        </div>#}
{#                        <!--item 3-->#}
{##}
{#                        <div class="item">#}
{##}
{#                            <img src="/static/slides/4.jpg" class="img-responsive" alt="" width="500px" height="100px">#}
{##}
{#                        </div>#}
{#                        <!--item 4-->#}
{#                    </div>#}
{#                </div>#}
                <!--carousel-inner-->
{#            </div>#}


            <!--controls-->

            <a class="left carousel-control" href="#the-slider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>


            <a class="right carousel-control" href="#the-slider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>


        </div>
     </div>
        <!--the-slider-->


{#        <div class="content row">#}
{#            <!-- row 3 -->#}
{##}
{#            <div class="col-md-3 col-xs-6">#}
{#                <p><img src="/static/images/purse1.jpg" alt=""></p>#}
{#                <h4> Wiley CPAexcel Exam Review 2015 Study Guide (January): Regulation (Wiley Cpa Exam Review) </h4>#}
{##}
{#                <p>Wiley CPAexcel Exam Review is the world's most trusted study guide for the Certified Public#}
{#                    Accountant's#}
{#                    exam – complete, comprehensive, and updated to align with the latest exam content. </p>#}
{##}
{#                <p><a href="#">Read more >></a></p>#}
{#            </div>#}
{##}
{#            <div class="col-md-3 col-xs-6">#}
{#                <p><img src="/static/images/purse2.jpg" alt=""></p>#}
{#                <h4> Pokemon: Kalos Region Handthe story of Joan of Arc </h4>#}
{##}
{#                <p>Nothing in its description said anything about the fact that this is ONLY a Pokedex, and not a great#}
{#                    Pokedex at that. Doesn't even tell what level Pokemon evolve, or how to make them evolve. I was#}
{#                    hoping#}
{#                    that this was a guidethe story of Joan of Arc, or at least had tips, but it doesn't.</p>#}
{##}
{#                <p><a href="#">Read more >></a></p>#}
{#            </div>#}
{#            <div class="col-md-3 col-xs-6">#}
{#                <p><img src="/static/images/purse3.jpg" alt=""></p>#}
{#                <h4> Wiley CPAexcel Exam Review 2015 Focus Notes: Financial Accounting and Reporting </h4>#}
{##}
{#                <p>Updated annually with the latest AICPA content guidelines, Wiley CPAexcel Exam Review 2015 Focus#}
{#                    Notes#}
{#                    provides a review of all the basic skills and concepts tested on the CPA exam and teaches important#}
{#                    strategies to take the exam faster and more accurately. </p>#}
{##}
{#                <p><a href="#">Read more >></a></p>#}
{#            </div>#}
{#            <div class="col-md-3 col-xs-6">#}
{#                <p><img src="/static/images/purse4.jpg" alt=""></p>#}
{#                <h4> Revival: A Novel Hardcover – Day to Day </h4>#}
{##}
{#                <p>The dustjacket promises King's "most terrifying conclusion Stephen King has ever written," and that's#}
{#                    a#}
{#                    bold claim to make - especially when stacked up against "Pet Sematery" or "Salem's Lot." I'm not#}
{#                    sure I#}
{#                    would call the conclusion 'terrifying,' but I would absolutely call it dreadful - with a capital#}
{#                    D.</p>#}
{##}
{#                <p><a href="#">Read more >></a></p>#}
{#            </div>#}
{#        </div>#}




{% endblock %}